<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pm5644Commander.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Pm5644Commander.Gui.Properties.Settings>
            <setting name="Pattern" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClockMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopText" serializeAs="String">
                <value />
            </setting>
            <setting name="TopLogo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BottomText" serializeAs="String">
                <value />
            </setting>
            <setting name="BottomLogo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InstrumentAddress" serializeAs="String">
                <value>GPIB0::1::INSTR</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="InterfaceType" serializeAs="String">
                <value>0</value>
            </setting>
        </Pm5644Commander.Gui.Properties.Settings>
    </userSettings>
</configuration>