<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gpib.InstrumentInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gpib.InstrumentInterface.Properties.Settings>
            <setting name="Pattern" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClockMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopText" serializeAs="String">
                <value />
            </setting>
            <setting name="TopLogo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BottomText" serializeAs="String">
                <value />
            </setting>
            <setting name="BottomLogo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InstrumentAddress" serializeAs="String">
                <value />
            </setting>
        </Gpib.InstrumentInterface.Properties.Settings>
    </userSettings>
</configuration>